<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.dao.ICategoryMapper" >
<select id="queryCategoryList" resultType="com.fh.bean.CategoryBean">
    select id,parent_id pid,name from t_shop_category
    where status =1 order by sort_order
</select>
</mapper>