<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.mapper.IOrderMapper" >
        <update id="updateProductStock"  >
            update t_shop_product set stock=stock-#{count} where id=#{productId} and stock-#{count}>-1
        </update>
</mapper>